<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.firechief</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>PATH_TO_SCRIPT/run-fire-chief.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
        <key>Weekday</key>
        <integer>1</integer>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>NODE_OPTIONS</key>
        <string>--experimental-fetch</string>
        <key>HOME</key>
        <string>USER_HOME_PATH</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>PATH_TO_SCRIPT</string>
    <key>StandardErrorPath</key>
    <string>PATH_TO_SCRIPT/fire-chief.err</string>
    <key>StandardOutPath</key>
    <string>PATH_TO_SCRIPT/fire-chief.out</string>
</dict>
</plist> 